.module-header-text {
    text-align: center;
    font-size: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow:  grey; 
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2dfdd; 
  border-radius: 0px;
}

.pg_missing_text {
    color: #E60000;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.PG_GreenBG {
    color: #FFF !important;
    background-color: #28a745;
}

.PG_GreenBG:hover {
    background: #f4f4f4 !important;
    color: #444 !important;
    border-color: #aaa !important;
}

.PG_XScroll, .card-body {
    overflow-x: auto !important;
}
/*div:empty {
   display: none;
}*/
.cursor {
    cursor: pointer;
}

.PG_f16 {
    font-size: 16px !important;
}
.PG_f15 {
    font-size: 15px !important;
}
.PG_f14 {
    font-size: 14px !important;
}
.PG_f13 {
    font-size: 13px !important;
}
.PG_f12 {
    font-size: 12px !important;
}
.PG_f11 {
    font-size: 11px !important;
}
.PG_f10 {
    font-size: 10px !important;
}

.gBold {
    color: #CCC !important;
    font-weight: bold !important;
}

.payslip-container {
  border: 1px solid #9e9a9a;
  color: #5a5757;
}

.payslip-bottom {
  margin-top: 20px;
  border: 1px solid #9e9a9a;
  color: #5a5757;
}

.payslip-header {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #5a5757;
}
.ps-child-table-container {
    padding: 0px !important;
    border-top: 0 !important;
}

.text-right {
    text-align: right;
}   

.payslip-main-table {
    width: 100%;
    margin: 10px;
}

#ps-allowances, #ps-deductions {
    width: 100% !important;
    padding: 0px !important;
}

.payslip-text-header {
    background-color: #42454A;
    color: #FFF;
}
.payslip-text-bg {
    background-color: #EBECEC;
}
.text-bold {
  font-weight: bold;
}
.pleft-ten {
    padding-left: 10px;
}

.text-center {
    text-align: center !important;
}

.dark-grey {
    color: #5a5757;
}

.module-header-create-text {
	text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #E60000;
}

#PG_ProgressBar {
    width: 100%;
    background-color: grey;
}
#PG_Bar {
    width: 5%;
    height: 30px;
    background-color: #EC7D23;
    text-align: center;
    color: #FFF;
}

.PG_BG_Red {
    background-color: #FF0000 !important;
}

.PG_StopLoader {
    animation: none !important;
}

.PG-Loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #EC7D23; /* Voda Red */
    border-bottom: 16px solid #EC7D23; /* Voda Red  */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pg_inline {
    display: inline-block;
}

.force-pg-red {
    color: #E60000 !important;
}

.module-header-dash-text {
    text-align: left;
    font-size: 19px;
    margin-left: 5%;
}

.module-header-div {
	margin-bottom: 18px;
}

.dash-small-card-title {
   font-size: 16px;
}

.dash-small-card-title-icon {
    margin-right: 10px
}
/*-- Branch CSS  */

.branch-header-div {
   
}

.hidden {
	display: none;
}

.fullfields .form-group {
	display: inline-block;;
}

.modal {
	z-index: 1100;
}

.bvalidator-message-container {
	z-index: 1;
}

.formview .modal-text-view {
	border: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
    border-color: #96850b;
}   
.nav-icon-small {
    text-align: center;
    width: 1.6rem;
    font-size: 14px;
    margin-right: .2rem;
} 
.table-titles-md-text {
    font-size: 19px;
    text-align: center;
}
tr .no-top-line {
    border-top: 0px;
}
.main-header-company {
    border-bottom: solid;
    border-color: #efe9e5;
    border-width: 1px;
    background-color: #343A40;
    color: #fff;
}  

.text-center {
    text-align: center;
}

.fillable-content-div {
   margin-top: 15px;
}

.right-icon {
    float: right;
    color: #0056B3;
    cursor: pointer;
}

.pg-list-items {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #f4f4f4;
}

span.actual-subject{
    font-weight: bold;
}

.mailbox-name{
    color: #3c8dbc;
}

.orange-color {
    color: #FFC107;
}

.mailbox-date {
    font-style: italic;
}

.hyper-icon {
    cursor: pointer;
}

.dash-emp-text{
    margin: 12px auto;
}   

.emp-dash-card-title {
    font-size: 16px;
}
.dash-el-top-text {
    font-size: 26px;
}

.pg-margin-bottom {
    margin-bottom: 15px;
}
/* Toast overrides */ 
#toast-container > div {
    opacity: 1 !important;
}
.toast-confirm-btn {
    border: solid #FFF 1px;
}
/* End of toast overrides*/

.box-bottom-border {
    border-bottom: solid 1px #00C0EF;
}

.grey-bottom-border {
   border-bottom: solid 1px #ccc;
}


.box-full-width {
    padding-left: 0px;
    padding-right: 0px;
}

.select2-container .select2-selection--single {
    min-height: 37px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* Date picker css */
.ui-datepicker-header.ui-widget-header {
    background: #f78930 !important;
}

.main-bg-color {
    background-color: #EC7D23 !important;
}

.white-text {
    color: #FFF !important;
}

.pg_red {
    color: #E60000 !important;
}

.sec-bg-color {
    background-color: #00C0EF !important
}

.main-font-color {
    color: #EC7D23 !important;
}

.sec-font-color {
    color: #00C0EF !important
}

.float-right {
    float: right;
}


.float-left {
    float: left;
}

.txt-view-label {
    margin-left: 20px;
}

.mright-six {
    margin-right: 6px;
}

.mright-one {
    margin-right: 1px;
}

.mleft-ten {
    margin-left: 10px;
}
.full-width {
    width: 100%;
}

.mbottom-ten {
    margin-bottom: 10px;
}

/* Overrides Tooltips */
.ui-tooltip {
    width: 200px !important;
    text-align: center !important;
    box-shadow: none !important;
    padding: 0 !important;
    color: #212529 !important;
    font-size: 12px !important;
    border: solid 1px #EC7D23 !important
}
.ui-tooltip-content {
    position: relative !important;
    padding: 0.5em !important;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
    content: "";
    position: absolute !important;
    border-style: solid !important;
    display: block !important;
    left: 90px !important;
}
.bottom .ui-tooltip-content::before {
    bottom: -10px !important;
    border-color: #EC7D23 transparent !important;
    border-width: 10px 10px 0 !important;
}
.bottom .ui-tooltip-content::after {
    bottom: -7px !important;
    border-color: white transparent !important;
    border-width: 10px 10px 0 !important;
}
.top .ui-tooltip-content::before {
    top: -10px !important;
    border-color: #EC7D23 transparent !important;
    border-width: 0 10px 10px !important;
}
.top .ui-tooltip-content::after {
    top: -7px !important;
    border-color: white transparent !important;
    border-width: 0 10px 10px !important;
}
/* Loader CSS */
.pg-loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #E60000;
    border-bottom: 16px solid #E60000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-self: center;
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
    z-index: 500;
    animation: spin 1s linear infinite;
    display: block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

@media only screen and (max-width:639px) {
    .pg-loader {
     margin-left: 50%;
    }
}

@media only screen and (min-width:640px) {
    .pg-loader {
     margin-left: 37%;
    }
}